name: Haskell CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: haskell/ghcup-setup@v1
        with:
          ghc-version: "9.10.2"
          cabal-version: "latest"

      - name: Cache dependencies
        uses: actions/cache@v4 # Upgraded to v4
        with:
          path: |
            ~/.cabal/packages
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}-cabal-${{ hashFiles('**/*.cabal', '**/cabal.project', '**/cabal.project.freeze') }}
          restore-keys: |
            ${{ runner.os }}-cabal-

      - name: Install dependencies
        run: |
          cabal update
          cabal build --only-dependencies --enable-tests -j2

      - name: Build
        # -j2 utilizes both cores of the standard GitHub runner
        run: cabal build --enable-tests -j2 all

      - name: Run tests
        run: cabal test --test-show-details=direct all
